



<div class="container">
	<div class="row">
		<% @places.each do |p| %>
	        <div class="col-xs-12 col-sm-6 col-md-4">
	            <div class="thumbnail">
	      
	            	<%=link_to( image_tag("#{p.listing_image}"), place_path(p) ) %>
	                <h4><%= p.listing_title %></h4>

	              	<p><%= p.description %></p>    
	              	 
	            </div>
	        </div>
	    <% end %>
    </div>
</div>

