<%= form_tag payments_path do%>


<div class="field">
<div id="dropin"></div>
</div>

<input type="hidden" name="total" value= <%=@reservation.total%> >
<input type="hidden" name="reservation" value= <%=@reservation.id%> >


<br>
<div class="actions">
<%=submit_tag "Proceed to pay amount of $#{@reservation.total}", class: "btn btn-primary" %>
</div>
<%end%>


<script>
if(gon)
{
	braintree.setup(gon.client_token, "dropin", {
	 container: "dropin"
	});
}
</script>
